
.span {
    font-weight: bold;
}

.container {
    margin-top: 15px;
    background-color: rgb(81, 88, 81);
    padding:30px;
    margin-left: 50px;
}

h1 {
    background-color: rgb(81, 88, 81);
    font-family: serif;
    font-weight: bold;
}

hr {
    border-color: white;
}

.aboutpic{
   float:left;
   margin: 15px;
}

/* .aboutmetext {
   
} */

.messagebox {
   height: 20%vh;
}

.btn {
    color: salmon;
}



footer {
    position: fixed;
    bottom: 0px;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100vw;
    text-align: center;
    opacity: 20%;
    background-color: rgb(66, 65, 65);
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: rgb(59, 179, 179);
    color: gray;
}