

.container {
    background-color: rgb(81, 88, 81);
    padding:30px;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
    width: 55vw;
    height: 65vh;
}

h1 {
    background-color: rgb(81, 88, 81);
    font-family: serif;
    font-weight: bold;
}

hr {
    border-color: white;
}



.pabout {
    float: left;
    text-align: justify;
    
}

.aboutmepic {
    margin-left: -25px;
    float: left;
    padding: 30px;
    position: relative;
}

.messagebox {
   height: 20%vh;
}


footer {
    position: fixed;
    bottom: 0px;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100vw;
    text-align: center;
    opacity: 20%;
    background-color: rgb(66, 65, 65);
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: rgb(59, 179, 179);
    color: gray;
}